.board {
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
}

.board div {
    height: 40px;
    width: 40px;
}

.btn {background-color: rgb(238, 125, 223);
}

td {
    border: rgb(0, 0, 0) solid 5px 
 }